@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/compressed/librebaskerville-regular-webfont.woff');
}
// @font-face {
//     font-family: 'Merriweather';
//     font-weight: 400;
//     font-style: normal;
//     src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
// }
// @font-face {
//     font-family: 'Libre Franklin';
//     font-weight: 300;
//     font-style: normal;
//     src: url('../fonts/Libre_Franklin/LibreFranklin-Light.ttf');
// }
// @font-face {
//     font-family: 'Open Sans';
//     font-weight: 300;
//     font-style: normal;
//     src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
// }
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/compressed/lato-light-webfont.woff');
}
