<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 id="site_title"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
	<h3 class="muted">By Ashton Wiersdorf</h3>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view">
          <a href="/about">About</a>&nbsp;|&nbsp;<a href="resume.pdf" download>Résumé</a>
        </p>
        <p class="view"><a href="{{ site.github.owner_url }}">GitHub</a>&nbsp;|&nbsp;<a href="https://keybase.io/ashton314" alt="ashton314">Keybase</a>&nbsp;|&nbsp;<a href="https://twitter.com/a_wiersdorf" alt="@a_wiersdorf">Twitter</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>

    <script>
     (function() {
	 window.counter = 'https://ashton314_github_io.goatcounter.com/count'

	 var script = document.createElement('script');
	 script.async = 1;
	 script.src = '//gc.zgo.at/count.js';
	 var ins = document.getElementsByTagName('script')[0];
	 ins.parentNode.insertBefore(script, ins)
     })();
    </script>
    <!-- <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script> -->
  </body>
</html>
